DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME_DEV=acervo_smd_development
DB_NAME_TEST=acervo_smd_test
DB_NAME_PROD=acervo_smd_production

CORS_ORIGINS=http://localhost:5173
ASSET_HOST=http://localhost:3000
